@import "tailwindcss";
/* 
 @font-face {
  font-family: 'Clash Display';
  src: url('./assets/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: 'Clash Display';
  src: url('./assets/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Clash Display', sans-serif;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 1s ease-out forwards;
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out forwards;
}

.delay-300 {
  animation-delay: 0s;
}



.card-animate {
  opacity: 0;
  animation: fade-in-up 0.8s ease-out forwards;
}

/* Optional: stagger delay */
.card-delay-1 {
  animation-delay: 0.2s;
}
.card-delay-2 {
  animation-delay: 0.4s;
}
.card-delay-3 {
  animation-delay: 0.6s;
}
.card-delay-4 {
  animation-delay: 0.8s;
}
.card-delay-5 {
  animation-delay: 1s;
}
.card-delay-6 {
  animation-delay: 1.2s;
}

.bg-radial-purple-black {
  background: #8C52FF; /* fallback color */
  background: radial-gradient(circle, rgba(140, 82, 255, 1) 0%, rgba(0, 0, 0, 1) 71%);
}

body{
  background-color:black;
}